.sidebar {
  display: flex;
  flex: 0.35; // 全体の35%
  height: 100vh;
  background-color: #1a1a1e;
  position: relative;

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    background-color: #121214;

    .serverIcon {
      width: 60px;
      height: 60px;
      background-color: #1d1d1e;
      border-radius: 9999px;
      margin-bottom: 10px;
      position: relative;

      img {
        position: absolute;
        width: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .sidebarRight {
    background-color: #121214;
    width: 300px;
    position: relative;

    .sidebarTop {
      color: white;
      display: flex;
      align-items: center;
      padding: 20px;
      gap: 3px;
    }

    .sidebarChannels {
      padding: 13px;

      .sidebarChannelsHeader {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;

        .sidebarHeader {
          display: flex;
          margin-top: 3px;
        }

        .sidebarAddIcon {
          cursor: pointer;
        }
      }
    }
  }
  .sidebarFooter {
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: #202024;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;

    .sidebarAccount {
      display: flex;
      align-items: center;
      
    }

    .accontName {
      margin-left: 10px;

      h4 {
        color: white;
        font-weight: 500;
      }

      span {
        color: #686a6e;
      }
    }
    .sidebarVoice {
      display: flex;
      color: #aaaab1;
      gap: 20px;
      margin-left: 50px;
    }
  }
}
